<template lang="html">
  <div class="pcba">
    <h1>PCBA测试<sup class="sup">BETA</sup></h1>
    <router-link :to="{ name: 'index'}" style="position: absolute; left:50px; top: 10px;"><img :src="home" alt="home" style="width: 38px;"></router-link>
    <mu-select-field label="在点击的时候显示设备列表信息" v-model="device_type" :maxHeight="300" @change="handlechange">
      <mu-menu-item v-for="item, index in list3" :key="index" :title="item" :value="item"/>
    </mu-select-field>
    <mu-raised-button v-bind:label="label" class="demo-raised-button" v-bind:disabled="!firststbt" secondary @click="startTest"/>
    <div>
      <mu-stepper :activeStep="firststep" v-show="device_type">
        <mu-step v-for="item,index in firststeps" :key="index">
          <mu-step-label>
            {{item}}
          </mu-step-label>
        </mu-step>
      </mu-stepper>
    </div>
    <div class="status" v-bind:class="{success:testStatus=='success'}">
      <h1>成功</h1>
    </div>
    <div class="status" v-bind:class="{fail:testStatus=='fail'}">
      <h1>失败</h1>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import home from '../assets/home.png'
export default {
  name: 'pcba',
  data(){
    return {
      home,
      device_type: '',
      list3: ['GL-AR150','GL-AR750','GL-AR300M' , 'GL-MT300N-V2','GL-B1300','GL-MIFI','GL-CORE'],
      firststeps: [],
      process: [],
      success: 'success',
      fail: 'fail',
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if(!vm.userName){
        vm.$router.push('login');
      }else{
        vm.list3 = ['GL-AR150','GL-AR750','GL-AR300M' , 'GL-MT300N-V2','GL-B1300','GL-MIFI','GL-CORE'];
        vm.$store.commit('setUserStart');
        vm.$store.commit('setstep',{'data':{'step': 'first'}});
      }
    });
  },
  beforeRouteLeave (to, from, next) {
    if(this.firststep != 0){
      alert('你还有设备没有测试完，请确保测试完成!');
      next(false);
    }else{
      this.list3 = [];
      this.device_type = '';
      this.$store.commit('setDeviceType',{'data':{'deviceType': ''}});
      this.$store.commit('setprocess',{'data':{'process': []}});
      this.$store.commit('setUserStop');
      next();
    }
  },
  computed:{
    userName(){
      return this.$store.getters.userName;
    },
    authkey(){
      return this.$store.getters.authkey;
    },
    hostip(){
      return this.$store.getters.hostip;
    },
    firststep(){
      return this.$store.getters.processStep;
    },
    firststbt(){
      return this.$store.getters.thirdstbt;
    },
    label(){
      return this.$store.getters.label;
    },
    testStatus(){
      return this.$store.getters.testStatus;
    },
  },
  methods:{
    handlechange(val){
      console.log(val);
      this.device_type = val;
      switch(val){
        case 'GL-AR750':
          this.firststeps = ['连接设备','检测校准','检测内存','测试sd卡','测试重置开关','测试led','测试拨动开关','测试usb设备','测试成功'];
          this.process = ['onconnect','oncalibration','ontestddr','ontestsd','onreset','onled','ontestswitch','ontestusb','onfirstok'];
          this.$store.commit('setprocess',{'data':{'process': this.process}});
          break;
        case 'GL-B1300':
          this.firststeps = ['连接设备','检测校准','检测内存','测试重置开关','测试led','测试mesh开关','测试usb设备','测试成功'];
          this.process = ['onconnect','oncalibration','ontestddr','onreset','onled','onmeshset','ontestusb','onfirstok'];
          this.$store.commit('setprocess',{'data':{'process': this.process}});
          break;
        case 'GL-MIFI':
          this.firststeps = ['连接设备','检测校准','检测内存','测试重置开关','测试led','测试sd卡','测试sim卡','测试usb设备','测试成功'];
          this.process = ['onconnect','oncalibration','ontestddr','onreset','onled','ontestsd','ontest3g','ontestusb','onfirstok'];
          this.$store.commit('setprocess',{'data':{'process': this.process}});
          break;
        case 'GL-CORE':
          this.firststeps = ['连接设备','检测校准','检测内存','测试重置开关','测试gpio','测试成功'];
          this.process = ['onconnect','oncalibration','ontestddr','onreset','ongpio','oncoreok'];
          this.$store.commit('setprocess',{'data':{'process': this.process}});
          break;
        default:
          this.firststeps = ['连接设备','检测校准','检测内存','测试重置开关','测试led','测试拨动开关','测试usb设备','测试成功'];
          this.process = ['onconnect','oncalibration','ontestddr','onreset','onled','ontestswitch','ontestusb','onfirstok'];
          this.$store.commit('setprocess',{'data':{'process': this.process}});
          break;
      }
      this.$store.commit('setDeviceType',{'data':{'deviceType': val}});
    },
    startTest(){
      this.$store.commit('settirdstbt');
      const data = {
        'device_type': this.device_type,
        'index': 0,
        'step': 'first',
      }
      this.$store.dispatch('sendcommand',{'command':'onconnect','payload':data});
      const date = new Date();
      const tdata = {
        'data': {
          'startTime': date.getTime(),
        }
      }
      this.$store.commit('setStartTime',tdata);
    }
  },
  mounted(){
    this.$store.commit('setstep',{'data':{'step': 'first'}});
  }
}
</script>

<style>
.title{
  font-size: 18px;
  margin: 0px auto;
}
.sup{
  font-weight: 100;
}
.success,.fail{
  position: absolute;
  top:100px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 8em;
  font-weight: bolder;
}
h1{
  padding:0px;
  margin: 0px;
  width: 100%;
  text-align: center;
}
.status{
  display: none;
}
.success{
  color: green;
  display: block;
}
.fail{
  color: red;
  display: block;
}
.mu-step-label-circle{
    width: 30px !important;
    height: 30px !important;
    font-size: 28px !important;
    line-height: 30px !important;
    text-align: center;
    overflow: hidden;
    border-radius: 100%;
    color: #fff;
}
.mu-step-label{
  font-size: 20px !important;
}
</style>

